/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body{
    font-family: 'Roboto';
    color: #212121;
}


/*  -------------------HEADER------------------- */
:root{
    --brand-color: #2196F3;
    --font-white-color: #FFFFFF;
    --items: 3;
    --ident: 30px;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.container{
    padding: 0 15px;
    width: 1200px;
    margin: 0 auto;
}
.container-flex{
    display: flex;
    align-items: center;
    
}
.head{
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;
    
}

.webstudio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-decoration: none;
    margin-right: 93px;
    
}

.top-logo{
    color:#000000;
}

.menu-nav{
    flex-grow: 1;
}

.menu{
    list-style: none;
    display: flex;
    gap: 50px;
}




.link-menu{
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    cursor: pointer; 
    padding-bottom: 33px; 

    transition: color 250ms var(--transition-timing-function);
}
.link-menu:focus,
.link-menu:hover{
    color: var(--brand-color);

    transform: transition;
}
.link-menu::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;

    background: var(--brand-color);
    border-radius: 2px;

    opacity: 0;
    transition: opacity 250ms var(--transition-timing-function);
}
.link-menu:focus::after,
.link-menu:hover::after{
    opacity:1;
    
}
.link-menu-now{
    position: relative;
    color: var(--brand-color);
    padding-bottom: 33px; 


    transition: color 250ms var(--transition-timing-function);
}
.link-menu-now::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;

    background: var(--brand-color);
    border-radius: 2px;
    opacity:1
}




  


.contacts{
   list-style: none;
   display: flex;
}
.contacts-item:last-child{
    margin-left: 50px;
}





.e-mail-phone{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 250ms var(--transition-timing-function);
}
.e-mail-phone:focus,
.e-mail-phone:hover{
    color: var(--brand-color);

    transform: transition;
}




.icon-envelope{
    width: 16px;
    height: 12px;
    fill: #757575;
}
.e-mail-phone:focus>.icon-envelope,
.e-mail-phone:hover>.icon-envelope{
    fill: currentColor;
}




.icon-smartphone{
    width: 10px;
    height: 16px;
    fill: #757575;
}
.e-mail-phone:focus>.icon-smartphone,
.e-mail-phone:hover>.icon-smartphone{
    fill: currentColor;
}



/*-----------------MAIN-------------------*/






.section-caption{
    background: #2F303A;
    /* width: 100%;
    height: 600px; */
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


.caption{

    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--font-white-color);
}

.button-order{
    border: 0;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--font-white-color);
    width: 216px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 30px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 500ms var(--transition-timing-function),
                visibility 500ms var(--transition-timing-function);

}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 500ms var(--transition-timing-function),
                opacity 500ms var(--transition-timing-function);
    
    padding: 40px;
}

.backdrop.is-hidden .modal{
    opacity: 0;
    transform: translateX(-50%) translateY(-60%);
}

.close-modal{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;
}

.close-modal:hover{
    fill: var(--brand-color);
}


.modal-data{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}


.form-field-modal{
    display: flex;
    flex-direction: column;
}


















    
.section-value{
    padding: 94px 0;
}
.value{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 30px;
}    
.value-item{
    width: 270px;
}
    
.icon-patern{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-value{
    width: 70px;
    height: 70px;
}
.value-caption{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 10px;
}

.value-descr{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}
.section-whatwedo{
    padding-bottom: 94px;
}

.caption-whatwedo{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 50px;
}

.list-whatwedo{
    list-style: none;
    margin-top: 50px;
    margin-bottom: 94px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--ident);
}

.whatwedo-item{
    position: relative;
    flex-basis: calc((100% - var(--ident) * var(--items)-1) / var(--items));
}
.overlay-whatwedo{
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
   
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 0;
}

.section-comand{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-comand{
    width: 1200px;
    margin: 0 auto;
}

.caption-comand{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 50px;
}

.list-comand{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--ident);
}
.comand-item{
    width: 270px;
    background: #ffffff;
    border-radius: 7px;
   box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    --items: 4;
    flex-basis: calc((100% - var(--ident) * var(--items)-1) / var(--items));
}



.photo-comand-item{
    width: 100%;
    height: auto;
}

.comand-wrap{
    padding: 30px 0px;
}


.caption-comand-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
}

.value-comand-item{
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 16px;
}

.socials-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.socials-item{

}
.socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff;
    color: #AFB1B8;

    transition: background 250ms var(--transition-timing-function),
                color 250ms var(--transition-timing-function);
}
.socials-icon{
    fill: currentColor;
}

.socials-link:hover,
.socials-link:focus{
    background-color: #2196F3;
    color: #fff;

    transform: transition;
}

.clients{
    padding: 94px 0 94px 0;
}
.clients-caption{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 66px;
}
.clients-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.lients-item{
}
.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 5px;
    background: #fff;
    color: #AFB1B8;

    border: 1px solid #AFB1B8;

    transition: color 250ms var(--transition-timing-function),
                border 250ms var(--transition-timing-function);
}
.sclients-icon{
    fill: currentColor;
}
.clients-link:hover,
.clients-link:focus{
    border: 1px solid #2196F3;
    color: #2196F3;
    transform: transition;
}

/* -------------------FOOTER------------------- */








.futer{
    background: #2F303A;
    padding: 60px 0;
}
.bottom-logo{
    color: var(--font-white-color);
}
.container-adres{
    width: 231px;
}
.adres{
    margin-top: 20px;
}

.list-adres{
    list-style: none;
}
.adres-item-map{
    margin-bottom: 9px;
}
.adres-item-map a{
    margin-bottom: 9px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--font-white-color);
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--transition-timing-function);
}
.adres-item-map a:focus {
    color: var(--brand-color);
    transform: trnsition;
}

.adres-item-map a:hover {
    color: var(--brand-color);
    transform: transition;
}
.adres-item{
    margin-bottom: 9px;
}

.adres-item a{
    margin-bottom: 9px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--transition-timing-function);
}
.adres-item a:focus{
    color: var(--brand-color);
    transform: transition;
}
.adres-item a:hover{
    color: var(--brand-color);
    transform: transition;
}


.container-flex-futer{
    display: flex;
}
.link-futer{
    margin-top: 12px;
    margin-left: 70px;
}
.link-futer-caption{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin-bottom: 20px;
}


.socials-list-futer{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.socials-item-futer{

}
.socials-link-futer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;

    transition:  background 250ms var(--transition-timing-function);
}

.socials-icon-futer{
    fill: currentColor;
}

.socials-link-futer:hover,
.socials-link-futer:focus{
    background-color: #2196F3;
    color: #fff;

    transform: transition;
}

.subscribe{
    margin-top: 12px;
    margin-left: 93px;
}
.subscribe-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.form-button-field{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.form-field{
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2784px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: rgba(33, 150, 243, 0);
    border-radius: 4px;
    padding: 15px 16px;
    color: var(--font-white-color);
}
.subscribe-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    background-color: var(--brand-color);
    border: 0px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    padding: 10px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-text{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height:calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--font-white-color);
}
.subscribe-icon{
    fill: var(--font-white-color)
}