.container-adres {
	width: 231px;
	@media (min-width:300px){
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 60px;
	}
	@media(min-width:480px){

	}
	@media(min-width:768px){
		margin-right: 165px;
	}
	@media(min-width:1024px){
		margin-right: 0px;
	}
	@media(min-width:1200px){
		margin-right: 70px;
		margin-bottom: 0px;
		align-items: initial;
	}
}

.adres {
	margin-top: 20px;

	&__list {
			list-style: none;
			@media (min-width:300px){
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			@media (min-width:1200px){
				align-items: initial;
			}
		}

	&__map {
		margin-bottom: 9px;

		a {
			&:hover,
			&:focus{
					color: var(--brand-color);
					transform: trnsition;
			}

			@media (min-width:300px){
				margin-bottom: 9px;
				font-size: 14px;
				line-height: calc(24 / 14);				
				letter-spacing: 0.03em;
				color: var(--font-white-color);
				text-decoration: none;
				text-align: center;
				font-style: normal;
				transition: color 250ms var(--transition-timing-function);
				
			}
		}
	}	

	&__item {
		margin-bottom: 9px;

		a {
			@media (min-width: 300px){
				margin-bottom: 9px;
				font-size: 14px;	
				line-height: calc(24 / 14);
				letter-spacing: 0.03em;
				color: rgba(255, 255, 255, 0.6);
				text-decoration: none;
				font-style: normal;
				transition: color 250ms var(--transition-timing-function);
				text-align: center;
				}
			}

			&:hover,
			&:focus {
				color: var(--brand-color);
				transform: trnsition;
			}
	}

}

// .adres__list {
// 	list-style: none;
// }

// .adres__map {
// 	margin-bottom: 9px;
// }

// .adres__map a {
// 	margin-bottom: 9px;
// 	font-size: 14px;
// 	line-height: calc(24 / 14);
// 	letter-spacing: 0.03em;
// 	color: var(--font-white-color);
// 	text-decoration: none;
// 	font-style: normal;
// 	transition: color 250ms var(--transition-timing-function);
// }

// .adres__map a:focus,
// .adres__map a:hover {
// 	color: var(--brand-color);
// 	transform: trnsition;
// }

// .adres__item {
// 	margin-bottom: 9px;
// }

// .adres__item a {
// 	margin-bottom: 9px;
// 	font-size: 14px;
// 	line-height: calc(24 / 14);
// 	letter-spacing: 0.03em;
// 	color: rgba(255, 255, 255, 0.6);
// 	text-decoration: none;
// 	font-style: normal;

// 	transition: color 250ms var(--transition-timing-function);
// }

// .adres__item a:focus,
// .adres__item a:hover {
// 	color: var(--brand-color);
// 	transform: transition;
// }