.comand {
	// @include section;
	padding-top: 60px;
	padding-bottom: 60px;
	background: #F5F4FA;
	&__title {
			// font-weight: 700;
			// font-size: 36px;
			// line-height: calc(42 / 36);
			// text-align: center;
			// letter-spacing: 0.03em;
			// color: inherit;
			// margin-bottom: 50px;

			@media (min-width: 300px){
				font-weight: 700;
				font-size: 28px;
				line-height: calc(36 / 28);
				text-align: center;
				letter-spacing: 0.03em;
				color: inherit;
				margin-bottom: 30px;
			}
		}
	
	&__list {
			list-style: none;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: var(--ident);
		}
	
	&__item {
		// width: 270px;
		// background: #ffffff;
		// border-radius: 7px;
		// box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		// --items: 4;
		// flex-basis: calc((100% - var(--ident) * var(--items)-1) / var(--items));
	
		@media (min-width: 300px){
			width: 450px;
			background: #ffffff;
			border-radius: 7px;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
			--items: 4;
			flex-basis: calc((100% - var(--ident) * var(--items)-1) / var(--items));
	
		}
	}

	&__photo {
		width: 100%;
		height: auto;
	}

	&__wrap {
		padding: 30px 0px;
	}

	&__caption {
		font-weight: 500;
		font-size: 16px;
		line-height: 1calc(19 / 16);
		text-align: center;
		letter-spacing: 0.03em;
		color: inherit;
	}
	
	&__value {
		font-size: 16px;
		line-height: calc(19 / 16);
		text-align: center;
		letter-spacing: 0.03em;
		color: #757575;
		margin-top: 10px;
		margin-bottom: 16px;
	}
}

// .comand__title {
// 	font-weight: 700;
// 	font-size: 36px;
// 	line-height: calc(42 / 36);
// 	text-align: center;
// 	letter-spacing: 0.03em;
// 	color: inherit;
// 	margin-bottom: 50px;
// }

// .comand__list {
// 	list-style: none;
// 	display: flex;
// 	justify-content: center;
// 	flex-wrap: wrap;
// 	gap: var(--ident);
// }

// .comand__item {
// 	width: 270px;
// 	background: #ffffff;
// 	border-radius: 7px;
// 	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
// 	--items: 4;
// 	flex-basis: calc((100% - var(--ident) * var(--items)-1) / var(--items));
// }

// .comand__photo {
// 	width: 100%;
// 	height: auto;
// }

// .comand__wrap {
// 	padding: 30px 0px;
// }

// .comand__caption {
// 	font-weight: 500;
// 	font-size: 16px;
// 	line-height: 1calc(19 / 16);
// 	text-align: center;
// 	letter-spacing: 0.03em;
// 	color: inherit;
// }

// .comand__value {
// 	font-size: 16px;
// 	line-height: calc(19 / 16);
// 	text-align: center;
// 	letter-spacing: 0.03em;
// 	color: #757575;
// 	margin-top: 10px;
// 	margin-bottom: 16px;
// }