.contacts {
	list-style: none;
	display: flex;

	&__item:last-child {
			margin-left: 50px;
		}
	
	&__data {
		font-weight: 500;
		font-size: 14px;
		line-height: calc(16 / 14);
		letter-spacing: 0.02em;
		color: #757575;
		text-decoration: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 10px;
		transition: color 250ms var(--transition-timing-function);
	
		&:focus,
		&:hover {
			color: var(--brand-color);
			transform: transition;
		}
	}
}

.contacts__envelope {
	width: 16px;
	height: 12px;
	fill: #757575;
}

.contacts__data {
	&:hover,
	&:focus{
		.contacts__envelope{
			fill: currentColor;
		}
	}
}

.contacts__smartphone {
	width: 10px;
	height: 16px;
	fill: #757575;
}

.contacts__data {
	&:hover,
	&:focus {
		.contacts__smartphone {
			fill: currentColor;
		}
	}
}
