.logo {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	color: var(--brand-color);
	text-decoration: none;
	// margin-right: 93px;
	
}

.logo--top {
	color: #000000;
	margin-right: 93px;
}

.logo--footer {
	color: var(--font-white-color);
}