.social {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 10px;

	&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			transition: background 250ms var(--transition-timing-function),
				color 250ms var(--transition-timing-function);
		}
	
	&__icon {
		fill: currentColor;
	}
}

// .social__link {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 44px;
// 	height: 44px;
// 	border-radius: 50%;
// 	transition: background 250ms var(--transition-timing-function),
// 		color 250ms var(--transition-timing-function);
// }

// .social__icon {
// 	fill: currentColor;
// }
