.futer {
	background: #2F303A;
	padding: 60px 0;
}

.container-flex-futer {
	
	@media (min-width: 300px){
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@media (min-width:480px){

	}
	@media (min-width:767px){
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}
	@media(min-width:1024px){
		gap: 50px;
	}
	@media (min-width:1200px){
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: stretch;
		gap:initial;
	}
}