.social__link--grey {
	background: #fff;
	color: #AFB1B8;
}

.social__link--grey:hover,
.social__link--grey:focus {
	background-color: #2196F3;
	color: #fff;
	transform: transition;
}

.social__link--white {
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	transition: background 250ms var(--transition-timing-function);
}

.social__link--white:hover,
.socials__link--white:focus {
	background-color: #2196F3;
	color: #fff;
	transform: transition;
}